<div class="book">
  <span class="book-title">{{title}}</span>
  <a class="btn" href="details">details</a>
</div>
<form name="geolocation">
  <legend>Please enter your current location</legend>
  <fieldset>
    <label for="lat">latitude</label>
    <input type="number" id="lat" name="lat" autofocus required>

    <label for="long">longitude</label>
    <input type="number" id="long" name="long" required>

    <input type="submit" class="btn" value="submit">
    <input type="reset" class="btn" value="reset">
  </fieldset>
</form>
