<!-- TODO: reuse the template from book.mustache -->
<div class="book">
  <span class="title">{{title}}</span>, by:
  <span class="author">{{author}}<span>
  <a rel="index" class="btn less" href="../">less</a>
</div>
